.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 440px;
}

.copyright{
    height: 92px;
    background-color: darkslategrey;
    padding: 40px;
    color: gray;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: gray;
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

.logo-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    margin-bottom: 50px;
}

.foot-col-1 > p {
    margin: 5px;
}

.logo{
    display: block;
    object-fit: contain;
    max-width: 134px;
    max-height: 79px;
    
}

.list-heading{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.foot-col-1, .foot-col-2, .foot-col-3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-center;
}

.list{  
    align-self: flex-start;
}

.link{
    margin: 10px;
}

