.healthcare-wrapper {
  width: 100%;
}
.health-content {
  /* max-width: 80rem; */
  width: 80rem;
  margin: 0 auto;
  padding: 60px 25px 30px 25px;
}
.health-section-1 > h3 {
  padding-bottom: 30px;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: none;
}
.section1-content {
  font-size: 16px;
  color: #6b6b6b;
}
.line-divider {
  border-bottom: 1px solid #0a0a0a;
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
.health-section-2 {
  padding-top: 30px;
  font-size: 21px;
  color: #3a0135;
}
.health-section-3 {
  color: #6b6b6b;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 17px;
}
