.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding-top: 50px;
  align-items: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 700px; /* Adjust height as needed */
}

.home-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.home-image.active {
  opacity: 1;
}
.overlay-text {
  position: absolute;
  display: block;
  visibility: visible;
  overflow: visible;
  margin-top: 80px;
}

.iic_name {
  z-index: 8;
  background-color: rgba(25, 25, 25, 0.28);
  font-family: Poppins;
  visibility: visible;
  text-align: inherit;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 300;
  font-size: 30px;
  border-color: rgb(230, 230, 230);
  border-style: none;
  margin: 20px;
  border-radius: 0px;
  padding: 0px 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  height: auto;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}
.overlay-text2 {
  position: absolute;
  display: block;
  visibility: visible;
  overflow: visible;
  margin-top: 150px;
}
.cps-name {
  z-index: 10;
  font-family: "Playfair Display";
  visibility: visible;
  text-align: inherit;
  line-height: 83px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 86px;
  border-color: rgb(230, 230, 230);
  background-color: rgba(79, 0, 25, 0.9);
  border-style: none;
  margin: 20px;
  border-radius: 0px;
  padding: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  white-space: nowrap;
  width: auto;
  height: auto;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

.second {
  background-color: white;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 169px;
  border-radius: 3px;
  margin-top: 2px;
}
.img {
  height: 80px;
  width: 80px;
}

.icon {
  font-size: 5em;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

.box > p {
  margin-left: 20px;
}

.line {
  width: 2px;
  height: auto;
  background-color: black;
}

.apply {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px 20px;
  max-width: 80rem;
}
.item {
  flex: 1;
}
.app-img {
  height: 450px;
  width: 660px;
  position: relative;
  background-color: #eaeaea;
}

.app-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-txt {
  height: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #910052;
  font-family: "Poppins";
  color: white;
}
.app-txt > h3 {
  font-size: 29px;
  font-weight: 700;
  margin: 50px 50px 10px 50px;
}
.open {
  font-size: 19px;
  font-weight: 500;
  color: #eac2d7;
  margin-left: 50px;
}
.app-body {
  font-weight: 400;
  font-size: 18px;
  margin: 20px 60px 20px 50px;
}

.app-txt > button {
  height: 55px;
  width: 142px;
  padding: 12px 29px 17px 31px;
  margin: 10px 0px 0px 50px;
  border-radius: 2px;
  color: #910052;
  font-size: 15px;
  font-weight: 700;
  border: none;
  /* font-family: "Poppins"; */
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #910052;
  width: 100%;
  height: 595px;
}
.about > img {
  object-fit: contain;
  margin-left: 40px;
}

.about-txt {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

.about-txt > h3 {
  font-family: "Poppins";
  font-size: 31px;
  margin: 0px 20px 15px 20px;

  /* position: relative; */
}

.about-intro {
  font-family: "Poppins";
  font-size: 23px;
  font-weight: 600;
  color: #dac0ce;
  text-transform: none;
  margin: 0px 20px 15px 20px;
}

.about-body {
  font-family: "Poppins";
  font-size: 19px;
  color: #dac0ce;
  font-weight: 500;
  margin: 20px 20px 15px 20px;
}
.pink-board {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: ; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 147px;
  border-radius: 3px;

  background-color: #99066a;
  font-family: "Poppins";
}
.box2 {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.even {
  background-color: #7c0656;
}
.think {
  height: 40px;
  width: 36px;
}
.sqr {
  height: 40px;
  width: 40px;
}

.box2 > p {
  color: white;
  font-size: 21px;
  font-weight: 700;
}

.research-domain-wrapper {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
.research-domain-wrapper > h3 {
  text-align: center;
  padding: 30px 20px 30px 20px;
  font-size: 41px;
  font-family: "Poppins";
  color: #161616;
}

.research-dashboard {
  color: black;
  display: flex;
  margin: 2rem 2rem 2rem 2rem;
  justify-content: center;
  max-width: 80rem;
}
.tab-section {
  display: flex;
  justify-content: space-around;
  background-color: #f6f6f7;
  height: 20%;
  width: 100%;
  flex-direction: row;
  /* padding: 24px 40px 24px; */
}
.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-section > img {
  /* object-fit: cover; */
  max-width: 380px;
  width: auto;
  height: 446px;
}
.tab-section > button {
  color: #8d8d8d;
  background-color: #f6f6f7;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  width: 100%;
  font-family: "Poppins";
  font-size: 17px;
  font-weight: 700;
  border: none;
}

.tab-section .active-tab {
  background-color: #a0034c;
  color: white;
}
.content-section {
  padding: 5rem;
  background-color: white;
  margin-right: 20px;
  width: 100%;
  height: 80%;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
}
.work-wrapper {
  background-color: #a0034c;
  width: 100%;
  height: 30rem;
}
.work-heading {
  text-align: center;
  color: white;
  font-family: "Poppins";
  font-size: 41px;
  margin: 30px 0px 50px 0px;
}
.work-cards {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 20px 15px 20px 30px;
}
.card {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #636363;
  font-family: "Poppins";
  color: white;
  height: 232px;
  width: 426.66px;
  text-decoration: none;
  /* background-color: rgba(57, 13, 40, 0.95); */

  /* background-color: rgba(33, 0, 23, 0.9); */
}
#card1 {
  background-image: url("https://cps.iic.ac.in/wp-content/uploads/2021/08/phd-programme.jpg");
  background-size: cover;
  background-position: center;
}
#card2 {
  background-image: url(https://cps.iic.ac.in/wp-content/uploads/2021/08/internship.jpg);
  background-size: cover;
  background-position: center;
}
#card3 {
  background-image: url(https://cps.iic.ac.in/wp-content/uploads/2021/08/project-fellowships.png);
  background-size: cover;
  background-position: center;
}
.card-txt {
  padding-top: 6rem;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 700;
}
.card-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(57, 13, 40, 0.96);
  text-align: center;
  color: white;
  z-index: 100;
}
