/* .nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 4rem;
} */
.navbar {
  display: flex;
  max-height: 15rem;
  height: 6rem;
  position: fixed;
  z-index: 100;
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  /* margin-top: 5px; */
  /* padding-left: 30px; */
  background-color: white;
  transition: all 0.3s ease;
}
.innav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-left: 50px;
}

.nav-element {
  padding: 0 1rem;
  height: 6rem;
  display: flex;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: black;
}
.innav .nav-element:hover {
  border-bottom: 5px solid;
  border-color: #a0034c;
  color: #a0034c;
}

/* .innav p:hover::after {
  width: auto;
  color: black;
} */

.nav-img {
  height: 85px;
  width: 185px;
  /* left: 0; */
  max-width: 1150px;
  transition: all 0.3s ease;
}
.navbar.scrolled > img {
  width: 100px;
  height: 46px; /* Smaller size when scrolled */
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #585858;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 14px;
  background-color: #e6e6e6;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-link:hover {
  color: #a0034c;
}
