/* .nav-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 4rem;
} */
.navbar {
  display: flex;
  max-height: 15rem;
  height: 6rem;
  position: fixed;

  z-index: 100;
  width: 100%;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  /* margin-top: 5px; */
  /* padding-left: 30px; */
  background-color: white;
  transition: all 0.3s ease;
  margin: 0 auto;
}
.innav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  align-items: center;
  font-size: 16px;

  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-left: 50px;
}

.nav-element {
  padding: 0 1rem;
  height: 6rem;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}
.nav-link {
  text-decoration: none;
  color: black;
}
/* .nav-element::after {
  content: "";
  position: absolute;
  background: #a0034c;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  bottom: -1px;
}

.nav-element:hover::after,
.nav-element:focus::after {
  opacity: 1;
} */
.nav-element.active,
.nav-element:hover {
  border-bottom: 4px solid #a0034c;
  color: #a0034c;
}
.navbar.scrolled .nav-element.active {
  border-bottom: 4px solid #a0034c;
  color: #a0034c;
}
/* .nav-element:hover {
  color: #a0034c;
} */
/* .innav p:hover::after {
  width: auto;
  color: black;
} */

.nav-img {
  height: 85px;
  width: 185px;
  margin-left: 1rem;
  margin-right: 8rem;
  /* left: 0; */
  max-width: 1150px;
  transition: all 0.3s ease;
  /* position: relative; */
}

/* @media (min-width: 1430px) {
  .innav {
    justify-content: center;
    padding-right: 4em;
  }
  .nav-img {
    margin-right: 4rem;
  }
} */
.navbar.scrolled > img {
  width: 100px;
  height: 46px; /* Smaller size when scrolled */
}

.dropdown {
  position: relative;
  display: inline-block;
  /* width: 5rem; */
}

.dropdown-content {
  display: none;
  margin-top: 0.1em;
  position: absolute;
  color: #585858;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-size: 14px;
  background-color: #e6e6e6;
  transition: opacity 0.3s ease;
}
.dropdown-link {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dropdown-link:hover {
  color: #a0034c;
}
