.nav {
  display: flex;
  max-height: 15rem;
  position: relative;
  /* margin-left: auto; */
  margin-right: auto;
  width: 100%;
  justify-content: flex-start;
  margin-top: 5px;
  padding-left: 30px;
  /* background-color: blue; */
}
.innav {
  display: flex;
  justify-content: center;
  width: 60%;
  position: relative;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding-left: 50px;
}

.innav > p {
  padding: 0 18px;
}
.innav p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.innav p:hover::after {
  width: 100%;
}

.nav > img {
  height: 85px;
  width: 185px;
  left: 0;
  max-width: 1150px;
}
