.rf {
  width: 100%;
  margin: 0;
  position: relative;
  /* padding-top: 100px; */
}

.flex-container {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  max-width: 80rem;
  /* margin: 0 auto; */
  color: #752a65;
  margin: 0 auto; /* to center it horizontally*/
  padding-bottom: 3rem;
  padding-top: 3rem;
  gap: 3rem;
}

.fa {
  font-size: 35px;
  margin-bottom: 20px;
}
