* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins';
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}